
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@{
    var index = 0;
     index = (int)ViewData["index"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Guest Tracking System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="reportsPage">
    <div class="" id="home">
        <header>
            <nav class="navbar navbar-expand-xl">
                <div class="container h-100">
                    <a class="navbar-brand" href="index.html">
                        <h1 class="tm-site-title mb-0">Guest I.T.S</h1>
                    </a>
                    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars tm-nav-icon"></i>
                    </button>
                    @{
                        string userEmail = User.Identity.Name ?? "user@user.com";
                        var user = await userManager.FindByEmailAsync(userEmail) ?? new ApplicationUser();


                    }

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto h-100">
                            <li class="nav-item">
                                @if (index == 0)
                                {
                                    <a class="nav-link active" asp-action="index" asp-controller="Home">
                                        <i class="fas fa-tachometer-alt"></i>
                                        Dashboard
                                        <span class="sr-only">(current)</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="index" asp-controller="Home">
                                        <i class="fas fa-tachometer-alt"></i>
                                        Dashboard
                                        <span class="sr-only">(current)</span>
                                    </a>
                                }
                            </li>
                            <li class="nav-item">

                                @if (index == 1)
                                {
                                    <a class="nav-link active" asp-action="newguest" asp-controller="Guest">
                                        <i class="fas fa-user"></i>
                                        Add New Guest
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="newguest" asp-controller="Guest">
                                        <i class="fas fa-user"></i>
                                        Add New Guest
                                    </a>
                                }


                            </li>

                            <li class="nav-item dropdown">

                                @if (index == 2)
                                {
                                    <a class="nav-link active" asp-action="index" asp-controller="Guest">
                                        <i class="far fa-file-alt"></i>
                                        <span>
                                            Guest Report
                                        </span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="index" asp-controller="Guest">
                                        <i class="far fa-file-alt"></i>
                                        <span>
                                            Guest Report
                                        </span>
                                    </a>
                                }


                            </li>
                            @if (signInManager.IsSignedIn(User) && await userManager.IsInRoleAsync(user, "Admin"))
                            {
                                <li class="nav-item">

                                    @if (index == 3)
                                    {
                                        <a class="nav-link active" asp-action="index" asp-controller="User">
                                            <i class="far fa-user"></i>
                                            Accounts
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" asp-action="index" asp-controller="User">
                                            <i class="far fa-user"></i>
                                            Accounts
                                        </a>
                                    }


                                </li>
                                <li class="nav-item dropdown">

                                    @if (index == 4)
                                    {
                                        <a class="nav-link active" asp-action="index" asp-controller="Branch">
                                            <i class="fas fa-cog"></i>
                                            <span>
                                                Branches
                                            </span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" asp-action="index" asp-controller="Branch">
                                            <i class="fas fa-cog"></i>
                                            <span>
                                                Branches
                                            </span>
                                        </a>
                                    }


                                </li>
                            }

                        </ul>
                        <ul class="navbar-nav">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link d-block" asp-action="Logout" asp-controller="User">
                                        @User.Identity.Name, <b>Logout</b>
                                    </a>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                    <a asp-action="login" asp-controller="user" class="btn btn-primary btn-block text-uppercase">
                                        Login
                                    </a>
                                </li>

                                @*<li class="nav-item">
                                        <a class="nav-link d-block" href="login.html">
                                            Admin, <b>Logout</b>
                                        </a>
                                    </li>*@
                            }

                        </ul>
                    </div>
                </div>

            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>@DateTime.Now.Year</b> All rights reserved.

                    Guest Infromation Tracking System
                </p>
            </div>
        </footer>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="~/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="~/js/tooplate-scripts.js"></script>
    <script src="~/js/datatables.bundle.js"></script>


    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
